extends layout

block content

    
        .row
            .col-lg-12.text-center
                h2 Прайс
                hr.star-primary
        .container
            .row
                .col-md-8.col-xs-12 Наименование
                .col-md-1.col-xs-3 Ед.изм.
                .col-md-1.col-xs-3 Цена
                .col-md-1.col-xs-3 Количество
                .col-md-1.col-xs-3 Сумма
            each group in price
                .row
                    .col-md-12
                        h3= group.name
                each subgroup in group.groups
                    .row 
                        .col-md-12
                            h4= subgroup.name
                    each item in subgroup.items
                        .row 
                            .col-md-8= item[0]
                            .col-md-1.col-xs-3= item[1]
                            .col-md-1.col-xs-3= item[2]
                            .col-md-1.col-xs-3
                                input.form-control.input-sm(type='number')
                            .col-md-1.col-xs-3
            tr
                td(colspan=4)
                    span.pull-right Итого по смете:
                td 

block scripts
    script(type='text/javascript').
        $(document).ready(function(){
            $('td input').on('change keyup', function() {
                var el = $(this);
                var val = el.val();
                var row = el.parent().parent();
                var p = row.find('td')[2];
                var e = row.find('td')[4];
                if(p && e){
                    $(e).html(parseFloat($(p).html())*parseFloat(val))
                }
                var estimation = 0;
                var table = el.parents('table tbody');
                table.find('tr').each(function(){
                    var row = $(this);
                    var rowEstimate = row.find('td')[4];
                    if(rowEstimate){
                        var e = parseFloat($(rowEstimate).html());
                        if(e)
                        estimation+=e;
                    }
                })
                table.find('tr').last().find('td').last().html(estimation);
            }); 
        });